
.dashboardContainer {
  display: flex;
  min-height: 100vh; /* Garante que o conteúdo principal e o menu ocupem toda a altura da página */
}

.sidebar {
  background-color: #2d89ef; /* Cor do menu */
  color: white;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o menu ocupe toda a altura da página */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

nav ul li:hover,
nav ul li.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f5f7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
}

.userProfile {
  font-weight: bold;
  color: #555;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.addButton {
  background-color: #238406;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #1c6ab9;
}

.addButtonCtg {
  background-color: #2d89ef;
  color: white;
  border: none;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.addButtonCtg:hover {
  background-color: #1c6ab9;
}

.dashboardSection {
  margin-bottom: 20px;
}
